.idea/
.vscode/
.gradle/
.dart_tool/
target/
temp/

doors_lib/zig/ffi_rpc/.zig-cache/
doors_lib/zig/ffi_rpc/.zig-out/
.zig-cache/
doors_lib/zig/ffi_rpc/zig-out/
doors_lib/zig/ffi_rpc/*.a
doors_lib/zig/ffi_rpc/*.so
